* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
<<<<<<< Updated upstream
=======
  background-color: #dbe8f4;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
>>>>>>> Stashed changes
}
#main_content {
  width: 100%;
  height: fit-content;
  background-color: #dbe8f4;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< Updated upstream
}

#main_content .main_box {
  width: 82%;
  height: 95%;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  position: relative;
}

=======
  padding: 20px;
}

#main_content .main_box {
  height: fit-content;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
  position: relative;
}

@media (max-width: 1630px) {
  #main_content {
    padding: 0;
  }
  #main_content .main_box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* #main_content {
    padding: 0;
  } */

  /* #main_content .main_box {
    width: 100%;
    height: fit-content;
  } */
}

>>>>>>> Stashed changes
footer span {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  bottom: 1em;
  opacity: 30%;
  font-size: 1em;
}
.dark-bg {
  background-color: #0a1621;
}
<<<<<<< Updated upstream
=======

.btn {
  padding: 15px;
  width: 70px;
  border-radius: 5px;
}
.btn-success {
  background: lightgreen;
}
.btn-secondary {
  background: lightgray;
}
.d-none {
  display: none !important;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
  display: none; /* Ẩn lớp phủ mặc định */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Đảm bảo lớp phủ nằm trên tất cả các phần tử khác */
}
#loading-icon {
  font-size: 24px;
  color: #fff;
}

#swal2-textarea {
  width: 915px;
  height: 594px;
}
.register {
  margin-bottom: 50px;
}
.register a {
  text-decoration: none;
  background-color: #59b65a;
  color: #fff;
  padding: 10px 40px;
  font-family: "Outfit";
  border-radius: 100px;
  margin: 10px;
}
.register .signup-btn {
  background-color: #303030;
}

/* Thêm responsive cho điện thoại */
@media (max-width: 600px) {
  #main_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main_content .main_box {
    padding: 10px !important;
    border-radius: 10px !important;
  }
  .register a {
    padding: 5px 20px !important;
    font-size: 14px !important;
  }
  .register .signup-btn {
    padding: 5px 20px !important;
    font-size: 14px !important;
  }
  #loading-icon {
    font-size: 18px !important;
  }
}
>>>>>>> Stashed changes
