* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.form-box {
  width: 450px;
  height: fit-content;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.header {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 500;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field input {
  height: 40px;
  padding: 0px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.form-field input:focus {
  border: 1px solid #59b65a;
}

.form-btn {
  border: none;
  border-radius: 100px;
  background-color: #59b65a;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 40px;
  margin-top: 15px;
}
.form-btn:hover {
  background-color: #116913;
}

.links {
  text-align: center;
  margin-top: 15px;
}

.links-question {
  margin-bottom: 20px;
}

.link-btn {
  color: #000;
}
.link-btn:hover {
  text-decoration: none;
  color: #116913;
}

.field-checkbox {
  margin: 10px 0px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.alert {
  font-family: "Roboto";
}
