.health-box {
  margin-top: 100px;
  width: 700px;
  height: 610px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 50px 0px 50px;
  font-family: "Roboto-Condensed", sans-serif;
  /* position: absolute; */
}

.health-box-header {
  font-family: "Outfit", sans-serif;
}
.health-box-header h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}
.health-box-header p {
  font-size: 15px;
  font-weight: light;
}

.health-box-line {
  width: 37%;
  height: 1px;
  background-color: #59b65a;
  margin: 20px 0;
}

.health-box-progress h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.health-box-progress-circle {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* background-color: #59b65a; */
  position: relative;
}
.outer {
  width: 145px;
  height: 145px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 30px;
}

.inner {
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15);
}

#progress-number {
  font-weight: bold;
  color: #555;
  /* margin-bottom: 10px; */
  font-size: 16px;
}
#progress-text {
  font-size: 14px;
  font-weight: bold;
}

circle {
  fill: none;
  stroke-width: 20px;
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.advice {
  margin-top: 40px;
  font-family: "Roboto-Condensed", sans-serif;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 20px;
  text-align: justify;
}
.advice-left {
  border-right: 1px solid #000;
  left: 50%;
  width: 50%;
}
.advice-right {
  right: 50%;
  width: 50%;
}

.advice h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.advice p {
  font-size: 14px;
  margin-bottom: 20px;
  font-family: "Roboto-Condensed", sans-serif;
}

.ai-advice textarea {
  width: 95%;
  /* margin-right: 1rem; */
  height: 175px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  /* margin-bottom: 10px; */
  font-family: "Roboto-Condensed", sans-serif;
}

.advice input {
  max-width: 100%;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Roboto-Condensed", sans-serif;
  position: relative;
}

.advice i {
  position: absolute;
  right: 60px;
  margin-top: 10px;
}

.advice-btn .send-btn {
  text-align: center;
  padding: 15px 20px;
  width: 100%;
  font-weight: bold;
  color: #fff;
  background-color: #59b65a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.save-progress {
  margin-left: 280px;
  margin-top: -80px;
  margin-bottom: 60px;
}

.save-progress button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.save-progress button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.save-btn {
  background-color: #59b65a;
  color: #fff;
}

.save-history {
  background-color: #fff;
  color: #59b65a;
  border: 1px solid #59b65a;
}

/* Thêm responsive cho điện thoại */
@media (max-width: 768px) {
  .health-box {
    width: 90%; /* Thay đổi chiều rộng cho điện thoại */
    height: auto; /* Chiều cao tự động */
    padding: 10px; /* Giảm padding */
  }

  .health-box-header h1 {
    font-size: 18px; /* Giảm kích thước font cho tiêu đề */
  }

  .health-box-header p {
    font-size: 14px; /* Giảm kích thước font cho đoạn văn */
  }

  .health-box-progress-circle {
    width: 120px; /* Thay đổi kích thước vòng tròn tiến trình */
    height: 120px;
  }

  .outer {
    width: 115px; /* Thay đổi kích thước vòng ngoài */
    height: 115px;
  }

  .inner {
    height: 70px; /* Thay đổi kích thước vòng trong */
    width: 70px;
  }
  .advice {
    flex-direction: column;
  }

  .advice input,
  .ai-advice textarea {
    width: 100%; /* Đảm bảo các trường nhập liệu chiếm toàn bộ chiều rộng */
  }

  .save-progress {
    margin-left: 0; /* Đặt lại margin cho nút lưu */
    margin-top: 20px; /* Thêm khoảng cách trên */
  }
}
